# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Michael\OneDrive\uni\project\coding\.idea/dataSources/
/../../../../../../../../:\Users\Michael\OneDrive\uni\project\coding\venv
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
